Django==1.8.18
MySQL-python==1.2.5
PuLP==1.6.8
PyCifRW==4.1
PyYAML==3.10
ase==3.11.0
dateutils==0.6.6
django-extensions==1.2.5
django-google-analytics==1
docutils==0.11
ipython==1.1.0
networkx==1.8.1
pexpect==4.2.1
ptyprocess==0.5.1
pyparsing==2.2.0
python-dateutil==2.2
python-memcached==1.53
pytz==2016.7
six
spglib==1.6.0
tornado==3.1.1
wsgiref==0.1.2
bokeh==0.12.11
djangorestframework==3.6.4
markdown
django-filter==1.0.4
pytest
requests
django-crispy-forms
matplotlib==2.2.3
